@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
/* @use "material-components-web/material-components-web"; */

body {
  font-family: 'Raleway', sans-serif !important;
  background-image: url("images/fondo.jpg");
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.container {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}

.row.justify-content-between {
  margin-top: 8%;
}

.content {
  width: 70%;
  margin: auto;
}

p {
  font-family: 'Raleway', sans-serif !important;
}

/* Home */
.home a.mdc-button.mdc-button--unelevated {
  margin-top: 10%;
  color: #E8DEF8;
  text-transform: inherit;
}

img.img-home {
  width: 100%;
  display: block;
}

img.img-home-mobile {
  margin: auto;
}

img.img-detalle {
  width: 100%;
}

/* Botones */
.mdc-button--unelevated:not(:disabled) {
  width: 100%;
  height: 40px;
  background: #4A4458;
  border-radius: 100px;
}

.mdc-button--unelevated.save:not(:disabled) {
  background: #D0BCFF;
  color: #381E72;
}

.mdc-line-ripple::before,
.mdc-line-ripple::after {
  position: absolute;
  bottom: 50%;
  width: 94%;
  border-bottom-style: solid;
  content: "";
}

.circular--landscape {
  background-color: #EADDFF;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.mdc-list-item {
  overflow: inherit;
}

.circular--landscape span {
  width: auto;
  height: 100%;
}

/* Campos de texto */
.text-field-container {
  padding: 0 0 5% 0;
  margin: 0 3%;
}

.text-field-container.text-two {
  padding: 0 0 5%;
}

.mdc-text-field.mdc-text-field--filled.mdc-ripple-upgraded {
  width: 100%;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #49454F;
}

.mdc-text-field:not(.mdc-text-field--disabled)+.mdc-text-field-helper-line .mdc-text-field-helper-text {
  color: #49454F;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #D0BCFF;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: #E6E1E5;
}

span.material-symbols-rounded {
  color: #CAC4D0;
}

.mdc-admin span.material-symbols-rounded {
  color: #625B71;
}

.circular--landscape span.material-symbols-rounded {
  color: #21005D;
  margin-left: 8px;
  margin-top: 8px;
}




/* Panel admin */
.mdc-admin {
  background-color: #FFFBFE;
  border-radius: 28px;
}

.mdc-admin__container {
  display: contents;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  height: 100%;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 100;
  pointer-events: none;
}

.mdc-admin li.mdc-list-item {
  padding-bottom: 10px;
  border-bottom: solid 1px #CAC4D0;
  width: 85%;
  margin: auto;
  padding-left: 0;
}

.mdc-dialog__header {
  text-align: center;
  margin: 10% 0;
}

.mdc-dialog__surface {
  box-shadow: none;
}

.mdc-admin a {
  color: #1C1B1F;
}

.mdc-admin span.test-list-item__label {
  margin: auto 16px;
}

.mdc-admin .circular--landscape.second {
  top: 5px;
}

/* Items lista de alarmas */

.row.header,
.row.list-items {
  margin-right: 10%;
}

ul.mdc-list.mdc-list--two-line.mdc-list--avatar-list {
  width: 100%;
}



li.mdc-list-item.mdc-ripple-upgraded {
  background-color: #1C1B1F;
  height: 72px;
  padding: 10px 16px;
  margin-bottom: 23px;
}

li.mdc-list-item.mdc-ripple-upgraded span.mdc-list-item__primary-text {
  color: #E6E1E5;
}

li.mdc-list-item.mdc-ripple-upgraded span.mdc-list-item__secondary-text {
  color: #CAC4D0;
}

li.mdc-list-item.mdc-ripple-upgraded a.mdc-button.mdc-button--unelevated {
  width: auto;
  height: 40px;
  background: #D0BCFF;
  border-radius: 100px;
  color: #381E72;
  text-transform: inherit;
}

li.mdc-list-item.mdc-ripple-upgraded .col-md-3 {
  margin: auto;
}


/* Buscador */
.col-md-6.search {
  text-align: right;
  padding-right: 0;
}

.search .mdc-text-field {
  background-color: #1C1B1F;
  border-radius: 30px;
}

.search .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #CAC4D0;
}

.mdc-text-field.mdc-text-field--filled.mdc-ripple-upgraded {}

.botom .material-symbols-rounded.icon {
  background-color: #1C1B1F;
  color: #CAC4D0;
  border-radius: 10px;
}




#week-days {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 24px;
  margin-bottom: 0;
  color: #757575;
}

#week-days input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#week-days label {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #757575;
  transition: all 0.2s ease-out;
  cursor: pointer;
  z-index: 1;
}

#week-days label:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

#week-days input[type="checkbox"]:checked+label {
  color: #381E72;
}

.md-form {
  position: relative;
}

.md-form label {
  top: 1rem;
  left: 0;
  transition: all 0.2s ease-out;
  color: #49454F !important;
}

.md-form label.active {
  font-size: 14px;
  top: 0;
  transform: translateY(-50%);
}

#week-days input[type="checkbox"]:checked+label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(208, 188, 255, 0.5);
  z-index: -1;
}


.md-form {
  margin-bottom: 1rem;
}

.md-form p {
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.md-form .form-check {
  margin-right: 1rem;
}

.md-form .form-check-label {
  font-size: 14px;
  color: #9e9e9e;
  margin-left: 0.5rem;
}

.md-form .form-check-input:checked~.form-check-label {
  color: #6750A4
}

.iphone-container {
  background-color: #eee;
  border-radius: 30px;
  box-shadow: 0px 0px 20px #999;
  height: 500px;
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  width: 360px;
}

.iphone-header {
  background-color: #333;
  height: 60px;
  position: relative;
}

.iphone-camera {
  background-color: #000;
  border-radius: 50%;
  height: 12px;
  left: 50%;
  margin-left: -6px;
  position: absolute;
  top: 18px;
  width: 12px;
  z-index: 2;
}

.iphone-speaker {
  background-color: #000;
  border-radius: 50%;
  height: 6px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  top: 30px;
  width: 40px;
  z-index: 2;
}

.iphone-sensor {
  background-color: #999;
  border-radius: 50%;
  height: 6px;
  left: 50%;
  margin-left: -55px;
  position: absolute;
  top: 30px;
  width: 10px;
  z-index: 2;
}

.iphone-screen {
  background-color: #fff;
  height: 520px;
  padding: 20px;
}

.checkbox-container {
  margin-top: 12px;
}

.checkbox-container .icon {
  font-size: 3rem !important;
}

.bottom .checkbox-container.right {
    padding-right: 20px;
    text-align: right;
}

.bottom .col-sm-6.left {
    padding-left: 0;
}



[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #381E72;
    border: 2px solid #381E72;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #381E72;
    border-bottom: 2px solid #381E72;
}

.iphone-screen .col-sm-2 {
    padding-left: 0;
}

/* @media (min-width: 576px) {
  a.detail {
    display: none;
  }
  img.img-home {
    display: none;
  }
  a.edit {
    display: flex;
  }
}

@media (min-width: 768px) {
  a.detail {
    display: flex;
  }
  img.img-home-mobile {
    display: none;
  }
  a.edit {
    display: none;
  }
}

@media (min-width: 992px) {
  a.detail {
    display: flex;
  }
  img.img-home-mobile {
    display: none;
  }
  a.edit {
    display: none;
  }
}

@media (min-width: 1200px) {
  a.detail {
    display: flex;
  }
  img.img-home-mobile {
    display: none;
  }
  a.edit {
    display: none;
  }
} */
